@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

body {
  background-color: #cccccc;
	margin: 5px;
}

nav {
  margin-bottom: 1rem;
}

button {
  border-width: 1px 2px 1px 2px;
  border-style: solid;
  border-color: #333;
}

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.control {
  display: inline-block;
  color: black;
  padding: 10px;
}

.d-flex {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#about {
  font-family: sans-serif;
  padding-bottom: 1rem;
}

#start {
	width: 100%;
  padding: 10px;
}

#stop {
  margin-left: 5px;
}

#canvas {
	display: block;
	width: 100%;
  border: 2px solid #333;
}

#search-bar {
  display: inline-block;
  margin-left: 10px;
}

#search-button {
  padding-left: 20px;
  padding-right: 20px;
}

#speed {
  display: inline-block;
  width: auto;
  float: right;
  margin-right: 5px;
  margin-top: 3px;
}

#bottom-row {
  background-color: #444;
  padding: 2px;
}

#select-label {
  display: none;
}

footer {
	margin-top: 1rem;
	background-color: #333;
}

.footer-text {
	padding-top: 13px;
}
